#led / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Large Files
data/raw/maildir
data/processed/emails.csv
data/processed/emails_labelled.csv
data/processed/emails_preprocessed.csv
models/X_train.pkl
models/X_test.pkl
models/y_train.csv
models/y_test.csv
models/tfidf_vectorizer.pkl
models/spam_classifier.pkl

# Distribution / packaging / User Specific
.idea/
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
